.container {
    
        position: relative;
        border: 2px solid #DCDCDC;
        
        align-items: center;
        border-radius: 5px;
        padding: 10px 10px;
        margin-top: 65px;
        padding-bottom: 10px;
        height: auto;
    
    /* margin-top: 0;
    padding-top: 0;
    margin-bottom: 15px; */
}

.container h2 {
    border-top: 2px solid #DCDCDC;
    padding-top: 10px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.buttons Button {
    width: 100px;
    text-align: left;
    color: black;
    border-color: #DCDCDC;
    text-transform: none;
}

.buttons Button:hover {
    border-color: black;
    background-color: #DCDCDC;
}

.cancel Button {
    color: black;
    border-color: #DCDCDC;
    text-transform: none;
}

.cancel Button:hover {
    border-color: black;
    background-color: #DCDCDC;
}