.container {
    position: relative;
    border: 2px solid #DCDCDC;
    
    align-items: center;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 65px;
    padding-bottom: 10px;
    height: auto;
}

.button {
    padding-top: 5px;
}

.button Button{
    width: 100%;
    background-color: #663399;
}

.button Button:hover {
    background-color: #ba55d3;
}