.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.logo {
    width: 150px;
    height: auto;
}

.logo img{
    width: 100%;
}

.userInfo p {
    margin: 0;
    font-size: 0.8em;
}