@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital@1&display=swap');

.app {
    margin-left: 100px;
    margin-right: 100px;
    height: 100%;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

.container {
    display: grid;
    justify-content: stretch;
    margin-top: 30px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 200px;
    column-gap: 60px;
    width: 100%;
}

.container .InvoiceList {
    width: 100%;
}

.container Checkout {
    /* grid-column: 3; */
    /* grid-row: 1; */
    height: auto;
}